<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <onPublishEndAsync type="Sitecore.Support.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousStrategy, Sitecore.Support.335146" patch:instead="*[@type='Sitecore.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousStrategy, Sitecore.ContentSearch']" role:require="Standalone or ContentManagement or ContentDelivery" >
            <param desc="database">web</param>
            <CheckForThreshold>true</CheckForThreshold>
          </onPublishEndAsync>
          <onPublishEndAsyncSingleInstance type="Sitecore.Support.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousSingleInstanceStrategy, Sitecore.Support.335146" patch:instead="*[@type='Sitecore.ContentSearch.Maintenance.Strategies.OnPublishEndAsynchronousSingleInstanceStrategy, Sitecore.ContentSearch']" singleInstance="true" role:require="Standalone or ContentManagement or ContentDelivery" >
            <param desc="database">web</param>
            <CheckForThreshold>true</CheckForThreshold>
          </onPublishEndAsyncSingleInstance>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>